AIRFLOW_UID=1000
FERNET_KEY=Wz49PHn7dyiE6hXSGuDe2Y7OnKMAONZ4DVImhCP9AfU=

AIRFLOW__API_AUTH__JWT_SECRET=3a1eb4eae133e53f7912cf7ed3bcd4e5

# AWS connection - Corrected with URL-encoded forward slash (%2F)
AIRFLOW_CONN_AWS_DEFAULT="aws://your_access_key_id:your_secret_access_key@/?region_name=ap-south-1"

#
# Databricks connection - Added the explicit 'token:' prefix for the password field
AIRFLOW_CONN_DATABRICKS_DEFAULT="databricks://token:your_token_id@dbc-3b02f732-b794.cloud.databricks.com"
